@model RegisterVM

<section id="Register">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Register</h1>

                <div class="register-wrapper" style="height:560px;">
                    <div class="register">
                        <p><b>Register</b></p>
                    </div>

                  <form asp-action="Register" method="post">
                        <div class="register-account" style="height:310px;">
                            <div class="container">
                                <div class="row">
                                    <div class="col-12">
                                        <p>I am a returning customer</p>
                                    </div>
                                    <div class="first-name col-lg-6 col-md-6 col-12">
                                        <div id="Name">
                                            <label asp-for="Firstname">First Name</label>
                                            <input asp-for="Firstname" class="form-control" placeholder="First Name">
                                            <span asp-validation-for="Firstname" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="last-name col-lg-6 col-md-6 col-12">
                                        <label asp-for="Lastname">Last Name</label>
                                        <input asp-for="Lastname" class="form-control" placeholder="Last Name">
                                    </div>
                                    <div class="email col-12">
                                        <div class="form-group">
                                            <label asp-for="Username">Username*</label>
                                            <input asp-for="Username" class="form-control" placeholder="Username">
                                            <span asp-validation-for="Username" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="email col-12">
                                        <label asp-for="Email">Email Address*</label>
                                        <input asp-for="Email" class="form-control" placeholder="Email Address">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="forget-button-pass" style="border-bottom:0px;">
                            <div class="container">
                                <div class="forget-button " style="height:200px;">
                                    <div class="forget">
                                        <div class="row">
                                            <div class="password col-12">
                                                <label asp-for="Password">Password</label>
                                                <input asp-for="Password" class="form-control" placeholder="Password">
                                            </div>
                                            <div class="password">
                                                <label asp-for="ConfirmPassword">Confirm Password</label>
                                                <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm Password">
                                                <span asp-validation-for="Password" class="text-danger"></span>
                                            </div>
                                            <div class="confirmpassword col-12">
                                                <input asp-for="Terms" style="height: 26px;
    border-bottom">
                                                <label asp-for="Terms">By registering your details you agree to our Cookie Policy</label>
                                                <span asp-validation-for="Terms" class="text-danger"></span>
                                            </div>
                                            <div class="register">

                                                <button class="btn">Register <i class="fa-solid fa-arrow-right"></i></button>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                  </form>

                </div>
            </div>
        </div>
    </div>


</section>
@section Scripts{
    <partial name="_ValidationScriptsPartial"></partial>
}