#Page-title{
    height: 200px;
    .section-title{
        height: 180px;
        position: relative;
        h2{
         position: absolute;
         bottom: 50px;
         font-size: 60px;
         background: rgb(49, 60, 204);
         background: linear-gradient(90deg, rgba(19, 111, 250, 0.418) 0%, rgb(42, 26, 184) 35%, rgb(111, 0, 119) 100%);
         -webkit-background-clip: text;
         -webkit-text-fill-color: transparent;

        }
    }
}
.user-menu {
    background-color:white;
    width: 147px;
    height: 0px;
    position: absolute;
    transition: .5s all;
    overflow: hidden;
  
    &.active {
      height: 100px;
    }
  
    right: 200px;
    top: 67px;
  
    .menu-ul { 
        display: block;
       
        padding: 0 0 0 20px;
        li {
            font-size: 16px;
      
          list-style: none;
          color: black;
        }
    }
  }

  .users-menu {
    background-color:white;
    width: 147px;
    height: 0px;
    position: absolute;
    transition: .5s all;
    overflow: hidden;
  
    &.active {
      height: 100px;
    }
  
    right: 200px;
    top: 50px;
  
    .menuu-ul { 
        display: block;
       
        padding: 0 0 0 20px;
        li {
            font-size: 16px;
      
          list-style: none;
          color: black;
        }
    }
  }

  .userr-menu {
    background-color:white;
    width: 147px;
    height: 0px;
    position: absolute;
    transition: .5s all;
    overflow: hidden;
  
    &.active {
      height: 100px;
    }
  
    right: 100px;
    top: 67px;
  
    .menu-ul { 
        display: block;
       
        padding: 0 0 0 20px;
        li {
            font-size: 16px;
      
          list-style: none;
          color: black;
        }
    }
  }

#Product-section{

    padding: 70px 0;
    .Accordion{
        .lorem{
            label{
                display: block;
            }
        }
    }
    .item {
		background-color: rgba(1, 43, 253, 0.267);

		border-left: 2px solid rgba(68, 0, 255, 0.671);
		border-right: 2px solid rgba(68, 0, 255, 0.671);
		border-radius: 30px;
        .buy {
            border: 2px solid blue;
            color: white;
            background: rgb(49, 60, 204);
            background: linear-gradient(90deg, rgba(19, 111, 250, 0.418) 0%, rgb(42, 26, 184) 35%, rgb(111, 0, 119) 100%);
			width: 100px;
			font-size: 10px;
            border-radius: 0;
            border-top-right-radius: 10px;
            border-bottom-left-radius: 10px;
		}
	}
    .select-title{
        display: flex;
        justify-content: space-between;
        position: relative;
        .select{
            display: flex;
            justify-content: space-between;
            width: 250px;
            position: absolute;
            right: 20px;
            bottom: 10px;
            select{
            border: 0;
            
             
            }
        }
    }
}



